body {
  margin: 0;
  font-family: sans-serif;
  padding:0;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mapboxgl-popup {
  max-width: 700px;
  font:14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
